<template>
    <div class="px-8 flex flex-col">
        <div
            class="bg-gd-purple p-4 rounded-lg text-slate-900 flex flex-col mb-4"
        >
            <h1>VtubeDex</h1>
            <span class="text-sm"
                >VtubeDex est une plateforme qui recense les VtuberFR et leurs
                streams afin qu'on se perde pas de vue, même dans le cas d'une
                twitterpocalypse.</span
            >
            <span class="text-sm"
                >Si vous souhaitez inscrire vos streams sur cette page,
                remplissez ce formulaire</span
            >
        </div>
        <div class="mb-4">
            <input
                class="bg-slate-800 transition-all ease-in text-md p-4 w-full rounded-lg border-[1px] border-slate-700 placeholder:italic shadow-innerGlow shadow-slate-700 focus:shadow-slate-500 outline-none ring-0 placeholder:text-slate-500"
                placeholder="Cherchez un Vtuber ..."
                v-model="filterText"
            />
        </div>
        <Drawer title="Chaines Live" :count="onlineChannels.length.toString()">
            <!-- {{JSON.stringify(videos)}} -->
            <div class="flex">
                <div
                    class="bg-gd-purple text-slate-900 px-3 py-1 rounded flex items-center gap-2 cursor-pointer select-none"
                    @click="gotoRandomStream"
                    @click.middle="gotoRandomStreamInNewTab"
                >
                    <faIcon icon="shuffle" />
                    <span class="text-sm">Random Channel</span>
                </div>
            </div>

            <div
                class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1"
            >
                <TransitionGroup name="slide">
                    <a
                        v-for="tuber in onlineChannels"
                        :key="tuber.id"
                        :href="`https://twitch.tv/${tuber.twitchUserId}`"
                        class="p-2 transition-all ease-in hover:bg-slate-800 rounded cursor-pointer"
                    >
                        <div class="rounded overflow-hidden relative">
                            <img
                                class="w-full aspect-video"
                                :src="tuber.stream.thumb_md"
                            />
                            <div
                                class="aspect-video absolute bg-slate-50"
                            ></div>
                            <div
                                class="absolute top-1 right-1 text-xs font-bold bg-slate-900/75 py-1 px-2 rounded"
                            >
                                {{ tuber.stream.uptime }}
                            </div>
                        </div>
                        <div>
                            <span class="font-bold block mt-1">{{
                                tuber.name
                            }}</span>
                            <span
                                class="text-xs block leading-[14px] font-bold mb-2"
                                >{{ tuber.stream.game_name }}</span
                            >
                            <span class="text-xs block leading-[14px]">{{
                                tuber.stream.title
                            }}</span>
                        </div>
                    </a>
                </TransitionGroup>
            </div>
        </Drawer>

        <Drawer
            title="Chaines Offline"
            :count="offlineChannels.length.toString()"
            class="flex flex-col"
        >
            <div
                class="divide-slate-800 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
            >
                <TransitionGroup name="slide">
                    <a
                        v-for="tuber in offlineChannels"
                        :key="tuber.id"
                        class="flex transition-all items-center p-2 hover:bg-slate-800 cursor-pointer rounded"
                        :href="`https://twitch.tv/${tuber.twitchUserId}`"
                    >
                        <div>
                            <div
                                class="h-12 w-12 rounded-full bg-slate-50 overflow-hidden border-2 border-slate-900/75"
                            >
                                <img
                                    :src="tuber.profile.profile_image_url"
                                    alt=""
                                />
                            </div>
                        </div>
                        <span class="px-4">
                            {{ tuber.name }}
                        </span>
                    </a>
                </TransitionGroup>
            </div>
        </Drawer>
    </div>
</template>

<script setup lang="ts">
import Drawer from "../components/Drawer.vue";
import TwitchWrapper from "../utils/twitchWrapper";
import Surreal from "surrealdb.js";
import TuberManager from "../utils/TuberManager";
import { watch } from "@vue/runtime-core";
import { ref } from "vue";
import Tuber from "../model/Tuber";

const db = new Surreal("http://165.227.169.147:8000/rpc");

const twitch = new TwitchWrapper();

const filterText = ref("");

await twitch.GetBearerToken();

await db.signin({
    user: "vtubedex",
    pass: "correcthorsebatterystaple",
});
await db.use("kfm", "vtubedex");

const tuberManager = new TuberManager(twitch, db);

await tuberManager.LoadTubers();
await tuberManager.GetTwitchStreamInfo();

const onlineChannels = ref(tuberManager.GetOnlineChannels());
const offlineChannels = ref(tuberManager.GetOfflineChannels());

watch(filterText, (value) => {
    onlineChannels.value = tuberManager
        .GetOnlineChannels()
        .filter((tuber) => TuberManager.Match(tuber, value));
    offlineChannels.value = tuberManager
        .GetOfflineChannels()
        .filter((tuber) => TuberManager.Match(tuber, value));
});

const gotoRandomStream = () => {
    const streamTwitchId =
        onlineChannels.value[
            Math.floor(Math.random() * onlineChannels.value.length)
        ].twitchUserId;
    window.location = `https://twitch.tv/${streamTwitchId}`;
};

const gotoRandomStreamInNewTab = () => {
    const streamTwitchId =
        onlineChannels.value[
            Math.floor(Math.random() * onlineChannels.value.length)
        ].twitchUserId;
    window.open(`https://twitch.tv/${streamTwitchId}`)?.focus();
};
</script>

<style>
.slide-move .slide-enter-active,
.slide-leave-active {
    transition: all 0.5s ease;
}
.slide-leave-active {
    position: absolute;
    display: none;
}
</style>
