<template>
    <div>
        <div
            class="flex items-center gap-2 mb-4 cursor-pointer select-none"
            @click="toggleDrawer"
        >
            <faIcon icon="chevron-right" class="w-4" v-if="isClosed" />
            <faIcon icon="chevron-down" class="w-4" v-else />
            <span>{{ props.title }}</span>
            <span
                class="text-xs bg-gd-purple rounded-full py-1 px-2 font-bold text-slate-900"
                v-if="props.count"
                >{{ props.count }}</span
            >
        </div>
        <div v-if="!isClosed">
            <slot />
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const props = defineProps({
    title: String,
    count: String,
});

const isClosed = ref(false);

const toggleDrawer = () => {
    isClosed.value = !isClosed.value;
};
</script>
