<template>
    <div
        class="h-screen w-screen bg-slate-900 text-slate-50 overflow-y-scroll bg-pattern"
    >
        <div class="lg:w-3/4 2xl:w-3/5 m-auto w-full transition-all">
            <div class="py-4 px-8 flex items-center gap-8">
                <div class="flex items-center gap-2">
                    <img class="h-12" :src="logoKfm" alt="" />
                    <span class="text-xl">KuroasaFM</span>
                </div>
                <span> VtubeDex </span>
            </div>
            <Suspense>
                <RouterView />
            </Suspense>
        </div>
    </div>
</template>

<script setup lang="ts">
import logoKfm from "../assets/Logo KFM Blanc.png";
</script>
